html{
    display: flex;
    justify-content: center;
}
body{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    width:1100px;
    height:200px ;
   background-color: rgb(82, 80, 80);
}
header{
    display: flex;
    width: 1100px;
height:300px ;
    background-color: rgb(0, 2, 2);
}
#logo{
height:200px;
width:250px;
background-color: rgb(0, 0, 0);

}
#imagen4{
    height:200px ;
width: 250px;

}
#Menu{
    display:flex;
    justify-content: center;
    height: 200px;
    width:  850px;
    background-color: rgb(216, 4, 4);
}
main{
    display: flex;
}
article{
    height: 820px;
    width: 250px;
    background-color: rgb(73, 94, 94);
    margin-right:20px;
    margin-top: 10px;
}
aside{
    flex-direction: column;
    display:  flex;
    width: 830px;
    height:820px ;
    background-color: rgb(61, 106, 109);
    margin-bottom: 20px;
}
#caja1{
    display: flex;
    justify-content:end;
    height: 250px;
    width:  800px;
    background-color: crimson;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-left: 15px;   
}
img{
    height: 250px;
    width: 250px;
}
#caja11{
    height: 250px;
    width: 600px;
    background-color: rgb(172, 182, 182);
    margin-bottom: 20px;

}
#caja2{
    display: flex;
    justify-content: right;
    height: 250px;
    width: 800px;
    background-color: crimson;
    margin-bottom: 20px;
    margin-left: 15px;
}
#caja22{
    height: 250px;
    width: 600px;
    background-color: rgb(172, 182, 182);
    margin-bottom: 20px;
}
#caja3{
    display: flex;
    height: 250px;
    width: 800px;
    background-color: crimson;
    margin-bottom: 20px;
    margin-left: 15px;
}

#caja33{
    height: 250px;
    width: 600px;
    background-color:  rgb(172, 182, 182);
}

.texto1{
    font-family: cursive;

}
.texto2{
     font-family: monospace;
}
.texto3{
    font-family: ‘Gill Sans’, ‘Gill Sans MT’, Calibri, ‘Trebuchet MS’, sans-serif;
}
footer{
    width: 1100px;
    height:  200px;
    background-color: darkseagreen;
}
#imagen5{
    width: 250px;
height: 200px;
}
#imagen6{
    width:250px;
height: 200px;
}
#imagen7{
width: 250px;
height: 200px;
}
#imagen8{
    width: 250px;
    height: 200px;

}
.texto7{
    font-family: sans-serif;
}
nav{
    width:1100px ;
    height: 200px;
    background-color: rgb(143, 94, 86);
    
}
ul{
    display: flex;
 list-style:  none;
 display:flex ;
 justify-content:space-evenly;
 align-items:center;
}
a:link{
    text-decoration: none;
    color: black;
    padding: 5px;
    /* background-color: blanchedalmond; */
}
a:hover{
    text-decoration: none;
    color: rgb(80, 80, 80);
    padding: 5px;
    color: rgb(0, 0, 0);
    background-color: red;
}
#t3{
    display: flex;
    justify-content: right;
    align-items: flex-end;
}
#t2{
    display: flex;
    justify-content: right;
    align-items: flex-end;
}

#t1{
    display: flex;
    justify-content: right;
    align-items: flex-end;
}
